.food{
    @extend %slider;

    position: relative;

    &__title{
        max-width: 881px;
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 72px;
        padding-top: 15px;
        @media (max-width: 575.98px){
            gap: 10px;
            margin-bottom: 28px;
        }
    }

    &__nav{
        margin-bottom: 24px;
    }

    &__item{
        position: relative;
        width: 180px;
        height: 194px;
        border: none;
        padding: 0;
        display: flex!important;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 20px 20px -10px rgba(80, 60, 46, 0.15);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.5s ease;
        @media (max-width: 767.98px){
            height: 160px;
        }
        @media (max-width: 399.98px){
            height: 150px;
        }

        &:hover{
            box-shadow: 0px 30px 20px -14px rgba(143, 15, 0, 0.29);
            transform: translate(0, -15px);
            @media (max-width: 991.98px){
                transform: none;
            }

            span{
                color: $red;
            }
        }

        img{
            width: 100%;
            height: 124px;
            object-fit: fill;
            border-radius: 10px;
            @media (max-width: 575.98px){
                height: 90px;
            }
        }

        span{
            font-family: $f700;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            @media (max-width: 575.98px){
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &__name{
        font-family: $f700;
        font-size: 28px;
        line-height: 120%;
        margin-bottom: 23px;
        @media (max-width: 767.98px){
            font-size: 18px;
            line-height: 140%;
        }
    }

    &__text{
        font-family: $f600;
        font-size: 16px;
        line-height: 170%;
        margin-bottom: 21px;
        opacity: 0.75;
        max-width: 512px;
        @media (max-width: 767.98px){
            margin: 18px 0 24px;
        }
        @media (max-width: 575.98px){
            font-size: 14px;
            line-height: 170%;
        }

        p{
            margin-bottom: 8px;
        }
    }

    &__decoration{
        position: absolute;
        bottom: -23%;
        right: 0;
        width: 236px;
        height: 456px;
        z-index: 1;
    }

    &__img{
        img{
            z-index: 10;
            position: relative;
            border-radius: 10px;
            width: 100%;
            height: 400px;
            object-fit: cover;
            @media (max-width: 575.98px){
                height: 200px;
            }
        }
    }

    .btn{
        @media (max-width: 767.98px){
            margin: 0 auto;
        }
        @media (max-width: 419.98px){
            width: 100%;
        }
    }
}