.producer{
    position: relative;

    &__wrapper{
        position: relative;
        padding: 59px 46px 48px;
        background-size: 120%;
        border-radius: 10px;
        box-shadow: $white_block_shadow;
        z-index: 10;
        @media (max-width: 1239.98px){
            background-size: 152%;
        }
        @media (max-width: 991.98px){
            background-size: 200%;
        }
        @media (max-width: 767.98px){
            background-size: 107%;
            background-position: center 111%;
            padding-bottom: 226px;
        }
        @media (max-width: 575.98px){
            padding: 22px 22px 46%;
        }
    }

    &__title{
        font-family: $f700;
        font-size: 36px;
        line-height: 120%;
        margin-bottom: 31px;
        max-width: 890px;
        @media (max-width: 1239.98px){
            font-size: 30px;
            max-width: 600px;
        }
        @media (max-width: 991.98px){
            font-size: 26px;
        }
        @media (max-width: 575.98px){
            font-size: 18px;
            margin-bottom: 15px;
        }
    }

    &__subtitle{
        font-family: $f700;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 21px;
        @media (max-width: 991.98px){
            font-size: 26px;
        }
        @media (max-width: 575.98px){
            font-size: 14px;
            margin-bottom: 17px;
        }
    }

    &__list{
        row-gap: 12px;

        li{
            font-family: $f600;
            font-size: 18px;
            line-height: 120%;
            padding-left: 38px;
            background: url(../images/icon-check.svg) no-repeat left top;
            @media (max-width: 575.98px){
                font-size: 12px;
                padding: 5px 10px 5px 32px;
            }

            &:nth-child(2){
                max-width: 400px;
            }

            &:nth-child(3){
                max-width: 536px;
            }

            &:nth-child(4){
                max-width: 607px;
            }
        }
    }

    &__descoration{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background-color: $bg_gray;
        z-index: 1;
    }
}
