.stove{
    &__wrapper{
        padding: 39px 50px 32px;
        background: #FFFFFF;
        box-shadow: 0px 15px 50px -4px rgba(49, 37, 29, 0.12);
        border-radius: 10px;
        @media (max-width: 767.98px){
            row-gap: 40px;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name{
        font-family: $f700;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 21px;
        @media (max-width: 575.98px){
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }

    &__img{
        width: 76px;
        @media (max-width: 575.98px){
            width: 61px;
        }
    }
}
